@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
	font-family: 'Fira Sans', sans-serif;
	background-color: #3c6e71;
	color: white;
}

h1 {
	/* border: 1px solid red; */
	margin: 50px;
}

.App {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.App ul li {
	font-size: 1.2em;
	margin: 10px;
}

.todo-input, .save-button {
	padding: 10px;
	min-height: 25px;
	min-width: 25px;
	font-size: 1.2em;
	margin: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
}

.save-button {
	background-color: #7d938a;
	color: white;
}

.save-button:hover {
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5) inset;
}

.todo-content {
	/* border: 1px solid red; */
	width: 50%;
}

@media (max-width: 700px){
	.todo-content{
		width: 95%;
	}
}

